header {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.playing {
	visibility: hidden;
}

.main {
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: flex;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.outside {
	flex: 1;
}

.column.c1 {
	margin-right: 80px;
}

.column {
	display: inline-block;
}

@keyframes nextQuestion {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  49% {
  	transform: translate(-50%, 0);
    opacity: 0;
  }

  51% {
  	transform: translate(50%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}